body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-font-primary;
}

.heading-primary {
    font-size: 10rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10vh;
    background-image: linear-gradient(      to right,      $color-primary-light,      $color-primary-dark    );
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
}

.heading-primary {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10vh;
    background-image: linear-gradient(      to right,      $color-primary-light,      $color-primary-dark    );
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
}