* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  justify-content: flex-end;
  background: #1c54b2;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color:rgb(255, 255, 255)
}

.navigation a:hover{
    background: #2979ff;
}